/**
 * 1. SITE WIDE / BASE STYLING
 */
@font-face {
  font-family: 'OratorStd';
  src: url('../fonts/OratorStd.ttf') format('truetype');
}

.font-orator {
    font-family:'OratorStd';
}

* { outline: 0; }

html {
    font-size: 10px;
    line-height: 1.5;
}

body {
    color: #c1c1c1;
    font-family:'OratorStd', "Helvetica Neue", Helvetica,Arial,sans-serif;
    line-height: 1.5;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
    opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
    opacity: 0.5;
}
:-moz-placeholder { /* Firefox 18- */
    opacity: 0.5;
}



.container {
    position: relative;
}

.content {
    opacity: 0;
    transition: opacity 0.4s linear;
}

#logo {
    max-width: 166px;
    margin-bottom: 20px;
}

#mobile-logo {
    cursor: pointer;
    max-width: 50px;
    transition: all 0.2s linear;
    position: fixed;
    top: 0;
    right: 15px;
    z-index: 1001px;
}

#mobile-logo.open {
    max-width: 100px;
}

#menu-toggle {
        position: relative;
    z-index: 1001;
}

.contact-info {
    float: right;
    width: 166px;
    position: relative;
    z-index: 10;
}

#toggle-contact {
    transition: all 0.2s linear;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.4;
    width: 100px;
}

#toggle-contact.active {
    background-color: #c6c5c5;
    color: #efefef;
}

#contact-backdrop {
    background-color: #c6c5c5;
    height: 190px;
    width: 146px;
    position: absolute;
    top: 5px;
    right: 25px;
    z-index: 9;
    transition: top 0.3s linear;
}

#contact-backdrop.active {
    top: 190px;
}

#contact-form {
    position: absolute;
    top: 164px;
    width: 125px;
    right: 20px;
    opacity: 0;
    text-align: center;
    transition: opacity 0.3s linear;
}

#contact-form form {
    pointer-events: none;
}

#contact-form.active {
    opacity: 1;
}

#contact-form.active form {
    pointer-events: auto;
}

#contact-form input,
#contact-form textarea {
    border: 0;
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 6px;
    padding: 4px;
    width: 100%;
    line-height: 1.1;
}

#contact-form textarea {
    height: 100px;
    resize: none;
    font-size: 1.2rem;
}

#contact-form button {
    background-color: transparent;
    border: 0;
    color: #fefefe;
    font-size: 1.8rem;
    padding: 0 8px 2px;
    transition: all 0.15s linear;
    display: inline-block;
}

#contact-form button:hover {
    background-color: #fefefe;
    color: #999;
}

#contact-form button:active {
    background-color: #ccc;
    color: #999;
}

.contact-info p {
    color: #999999;
    line-height: 2.5;
    margin: 0;

}

.contact-info img {
    max-width: 166px;
}

.contact-info .contact-content {
    color: #999999;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2;
    position: absolute;
    top: 30px;
    right: 15px;
    z-index: 10;
}

.copyright {
    color: #999999;
    text-align: center;
    margin: 20px 0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}


/**
 * 2. TYPOGRAPHY
 */

h1,h2,h3,h4,h5,h6,p { margin-top: 0; }

h1 {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 40px;
}

h1 span {
    color: #999999;
    font-size: 2.7rem;
}

h2 {
    font-size: 1.5rem;
}

h2 span {
    color: #999999;
    font-size: 2rem;
}

h3 {
    color: #999999;
    font-size: 2.6rem;
    margin-bottom: 15px;
    text-transform: lowercase;
}

h3 span {
	font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
    margin-bottom: 30px;
}

a {
    color: #999999;
    text-decoration: none;
    transition: all 0.2s linear;
}

a:hover, a:visited:hover, a:active, a:focus
{
    color: #333;
}

a:visited
{
    color: #999999;
}

a, a:hover, a:visited, a:link, a:active, a:focus
{
    text-decoration: none;
}

/**
 * 3. NAVIGATION
 */

#desktop-nav {
    width: 166px;
}

.main-nav ul {
    padding: 0;
}

.main-nav li {
    list-style: none;
}

.main-nav li a {
    display: block;
    font-size: 2.7rem;
    line-height: 1.3;
    color: #cccccc;
}

.main-nav li a:hover,
.main-nav li.active a {
    color: #999999;
    font-size: 3rem;
}

.main-nav li img {
    display: none;
}

#desktop-nav li.active {
    /* text-align: center; */
}

.main-nav li.active img {
    display: block;
}

.main-nav li a {
    transition: all 0.2s linear;
}

#mobile-nav {
    opacity: 0;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    height: 100vh;
    padding: 130px 15px 0;
    transition: opacity 0.2s linear;
}

#mobile-nav.open {
    opacity: 1;

}

#mobile-nav ul {
    max-width: 200px;
}

#mobile-title {
    margin-top: 10px;
    margin-bottom: 50px;
}

#mobile-title h3 {
    font-size: 2.8rem;
}

/**
 * 4. HELPER CLASSES
 */

.align-right {
    text-align: right;
}

.content-knot {
    display: block;
    max-width: 200px;
    margin: 20px auto;
}

.middle-knot {
    position: absolute;
    top: 0;
    width: 170px;
}

/**
 * 5. SINGLE PAGES
 */

#mission-page h2 span  {
	transition: all 0.3s;
    user-select: none;
}

#mission-page h2 span.interaction:hover {
	color: #000000;
	*font-size: 2.1rem;
}

#mission-page h2 span.input:hover {
	cursor: pointer;
	color: #000000;
	*font-size: 2.1rem;
}

#mission-page h2 span.response.active {
	color: #000000;
}

#experience-page .experience-block {
	margin: 0px auto 30px;
}

#experience-page .references {
	text-align: center;
	margin: 50px 0 30px;
}

/**
 * PORTFOLIO PAGE
 */
#portfolio-page .portfolio-item {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: left;
	position: relative;
	margin-bottom: 2em;
}

#portfolio-page .portfolio-item .title {
	padding-top: 5%;
	margin-left: 1em;
	margin-right: 1em;
	position: absolute;
	top: 0;
	width: 100%;
}

#portfolio-page .portfolio-item h1,
#portfolio-page .portfolio-item h2 {
	color: white;
	font-weight: bold;
	margin-bottom: 0;
}

#portfolio-page .portfolio-item h1 {
	font-size: 3.4rem;
}

#portfolio-page .portfolio-item h2 {
	font-size: 2.4rem;
}

#portfolio-page .portfolio-item:hover .overlay {
	opacity: 0.8;
}

#portfolio-page .portfolio-item .overlay {
    background-color: rgba(0,0,0,0.70);
    opacity: 0;
    transition: all 0.3s linear;
    padding-top: 60%;
}


/*
#portfolio-page .portfolio-item {
	cursor: pointer;
	position: absolute;
	transition: all 0.3s linear;
	width: 30%;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

#portfolio-page .portfolio-item:not(.active):hover {
	transform: scale(1.1);
}

#portfolio-page .portfolio-item.active {
	cursor: default;
	width: 68%;
	z-index: 100;
}

#portfolio-page .portfolio-item.active .overlay.open {
	pointer-events: auto;
}

#portfolio-page .portfolio-item.active .overlay.open:hover {
	opacity: 1;
}

#portfolio-page .portfolio-item .overlay {
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    transition: all 0.3s linear;
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#portfolio-page .portfolio-item .overlay-text {
    color: #FFF;
}

#portfolio-page .portfolio-item .overlay-text a {
    color: #FFF;
}

#portfolio-page .portfolio-item .overlay-text .fa {
    font-size: 4rem;
}

#portfolio-page .portfolio-item .title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

#portfolio-page .portfolio-item .title h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1;

}

#portfolio-page .portfolio-item .overlay-links {
    text-align: center;
    display: flex;
}

#portfolio-page .portfolio-item .overlay-links.one a {
    width: 100%;
}

#portfolio-page .portfolio-item .overlay-links.two a {
    width: 50%;
}

#portfolio-page .portfolio-item .overlay-links.three a {
    width: 33%;
}

#portfolio-page .portfolio-item .overlay-links span {
    opacity: 0;
    transition: all 0.2s linear;
    backface-visibility: hidden;
}

#portfolio-page .portfolio-item .overlay-links i {
    display: block;
}

#portfolio-page .portfolio-item .overlay-links a:hover span {
    opacity: 1;
}

#portfolio-page .portfolio-item img {
    width: 100%;
}

#portfolio-page #portfolio-wrapper {
    position: relative;
}
*/
#portfolio-page .thank-you,
#portfolio-item-page .thank-you {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
}

#portfolio-item-page .portfolio-slide {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border: 3px solid #ddd;
	border-radius: 3px;
	margin-bottom: 30px;
	text-align: center;
	padding-top: 50%;
	position: relative;
}

.expertise-item {
    margin-bottom: 20px;
}

.svg-wrapper {
    display: inline-block;
    max-width: 310px;
    width: 100%;
}

.expertise-item svg { max-width: 100%; max-height: 50px; }

.expertise-item svg .cls-1{fill:#cececd;}

.expertise-item svg .cls-2{fill:#989898;}

.expertise-item svg .cls-3{fill:#fff;}

/**
 * 6. MEDIA QUERIES
 */


@media screen and (min-width: 1200px){
    .middle-knot {
        left: 400px;
    }

    #experience-page .experience-block {
        margin: 30px auto;
        width: 80%;
    }

/*
    #portfolio-page #portfolio-wrapper {
        height: 620px;
    }
*/
}

@media (min-width: 992px) and (max-width: 1199px){
    .middle-knot {
        left: 350px;
    }

/*
    #portfolio-page #portfolio-wrapper {
        height: 506px;
    }
*/
}


@media screen and (min-width: 992px){
    .desktop-hide { display: none; }

    #mission-page .content,
    #experience-page .content,
    #expertise-page .content,
    #portfolio-page .content,
	#portfolio-item-page .content {
        padding-top: 70px;
    }

}
/** /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\
 * DESKTOP SIZE
 *  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |
 */

/** |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |
 * MOBILE SIZE
 * \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/
 */

@media screen and (max-width: 991px){
    .mobile-hide { display: none; }
/*
    #portfolio-page #portfolio-wrapper {
        height: 98vw;
        margin: 0 2% 40px;
        max-height: 745px;
    }
*/
    #portfolio-page .portfolio-item .overlay {
        opacity: 1;
    }

	#portfolio-page .portfolio-item .title {
		padding-top: 10%;
	}

    .middle-knot {
         display: none;
    }

     h1 {
         font-size: 1.9rem;
     }

     h1 span {
         font-size: 2.1rem;
     }

     h2 {
         font-size: 1.4rem;
		 padding-bottom: 30px;
     }

     h2 span {
         font-size: 1.6rem;
     }

     h3 {
         font-size: 2.1rem;
     }

     p {
         font-size: 1.4rem;
     }
}

@media screen and (max-width: 480px){
	#portfolio-page .portfolio-item .overlay {
		opacity: 1;
	}

	#portfolio-page .portfolio-item .title {
		padding-top: 0;
	}

	#portfolio-page .portfolio-item h1,
	#portfolio-page .portfolio-item h2 {

	}

	#portfolio-page .portfolio-item h1 {

	}

	#portfolio-page .portfolio-item h2 {

	}
/*
     #portfolio-page .portfolio-item .title h1 {
         font-size: 3rem;
         margin-top: 0;
         margin-bottom: 10px;
     }

     #portfolio-page .portfolio-item .overlay-text .fa {
         font-size: 3rem;
     }
*/
}

@media screen and (max-width: 320px){



/*
     #portfolio-page .portfolio-item .title h1 {
         font-size: 2rem;
     }

     #portfolio-page .portfolio-item .overlay-text .fa {
        font-size: 2rem;
    }
*/
}
